<!doctype html>
<title>Neural Net Powered Calculator!</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style.css')}}'>
<div class=page>
  <h1>dumb-calculator</h1>
  <p>
  	Welcome to my "dumb" calculator, This calulator adds two numbers using both traditional arithmetic and using a basic feed-forward neural network. 
  </p>
  <p>
    This calculator also tracks and displays the time required by the server to calculate the sum each way. Try it for yourself and see the differences are in accuracy and computational time. 
  </p>
  <form id='numbers' method="post">
    Pick two Numbers
    <br>
    <input type="text" name="number1" value="{{n1}}" size="2" maxlength="2"> 
    + 
    <input type="text" name="number2" value="{{n2}}" size="2" maxlength="2">
    <br>
    Pick a model to compute the sum
    <br>
    <input type='submit' name="submit" value='compute' />
    <br>
    <table>
      <tr>
        <td>Sum (Neural):</td>
        <td>Sum (Manual):</td>
      </tr>
      <tr>
        <td><input type="text" name="sumNeural" value="{{sumNeural}}" size="18" readonly></td>
        <td><input type="text" name="sumManual" value="{{sumManual}}" size="18" readonly></td>
      </tr>
      <tr>
        <td>{{timeNeural}}</td>
        <td>{{timeManual}}</td>
      </tr>
    </table>
  </form>
  
  <h3>Why?</h3>
  <p>
  	<i>Why preform a simple task in a simple way, when you can preform a simple task in a complex way?</i>
  	<br>
    <img src="/static/model.png">
    <br>
  	Machine Learning has been applied to a range of complex and pressing problems: 
  </p>
    <ul>
      <li>
        <a href = https://www.ibm.com/blogs/research/2016/11/identifying-skin-cancer-computer-vision/>identifying cancer tumors</a>
      </li>
      <li>
        <a href=https://www.nature.com/news/artificial-intelligence-called-in-to-tackle-lhc-data-deluge-1.18922>classifiying particle collsions</a>
      </li>
    </ul>
    <p>
      However, has anybody previously applied these statistical methods to the addition of two integers? 
      Today, <a href = https://github.com/BenDavidAaron/dumb-calculator>we step into the bold unknown</a>!
    </p>
    <p>Lastly, if you enjoyed this calculator (<a href="https://github.com/BenDavidAaron/dumb-calculator">GitHub</a>), look at the original <a href="https://bad-calculator.herokuapp.com/">bad calculator</a> (<a href="https://github.com/BenDavidAaron/bad-calculator">GitHub</a>)</p>
    <img src="/static/dog.JPG">
</div>
